<html>
  <head>
    <title>DVID Bench</title>
    <style>
      .response_time_graph {
        height:300px;
        width:100%;
      }
    </style>
  </head>
  <body>
    <h1>DVID Bench <span>{{version}}</span></h1>

    <p>Clients: <span class="clients">{{ clients }}</span></p>
    <p>Workers: <span class="workers">{{ workers }}</span></p>

    <form action="/start" method="post">
      <input type="number"  name="count" id="count"/>
      <input class="add_workers" type="submit"/>
    </form>
    <button class="reset">Reset stats</button>
    <button class="stop">Stop workers</button>

    <p> Stats for <span class="name">{{stats.name}}</span></p>

    <p># Requests <span class="num_requests">{{stats.num_requests}}</span></p>
    <p>RPS <span class="current_rps">{{stats.current_rps}}</span></p>
    <p>AVG Response (ms) <span class="avg_response_time">{{stats.avg_response_time}}</p>
    <p>Max Response (ms) <span class="max_response_time">{{stats.max_response_time}}</p>
    <p>Error Count <span class="num_failures">{{stats.num_failures}}</p>

    <div class="response_time_graph"></div>

    <script type="text/javascript" src="/static/js/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.flot.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>
  </body>
</html>
